# Code owners for development branch - talentradar-notification-service-rw
# .github folder is managed by bikaze and muhirwaJD
/.github/ @bikaze @muhirwaJD

# Everything else is managed by nkbtemmy2 and bumlev
* @nkbtemmy2 @bumlev
